/*Universal css settings*/
html, body {
  height: 100%;
  width: 100%;
}

.scroll {
  width: 20px;
  height: 200px;
  overflow: auto;
  float: left;
  margin: 0 10px;
}

.scroll1::-webkit-scrollbar {
  width: 5px;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #666;
}

.scroll2::-webkit-scrollbar {
  width: 10px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll2::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#login-body {
  min-height: 420px;
  width: 100%;
  padding-top: 70px;
}

#chat-container, #login-container, #mainpage-container {
  width: 100%;
  height: 100%;
}

nav {
  line-height: 50px !important;
}

/* label focus color */
.input-field input:focus + label {
  color: #00c853 !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #00c853 !important;
  box-shadow: 0 1px 0 0 #00c853 !important;
}

.collection {
  margin: 0 !important;
}
.collection .collection-item.avatar {
  background: #f9f9f9;
  min-height: 50px !important;
}
.collection .collection-item.avatar img {
  background: #fff;
}
.collection .collection-item:hover {
  background: #eee;
}

.secondary-content.preview-count {
  background-color: #00e676 !important;
  color: #fff;
  padding: 2px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.secondary-content.checked-message i {
  color: #00c853;
}
.secondary-content.checked-message i.double-check {
  position: relative;
  left: 20px;
}

#chat-body {
  background: #eee;
  margin: 0;
  height: 90%;
  width: 100%;
  padding-bottom: 50px;
}
#chat-body .row {
  margin-bottom: 5px;
}
#chat-body .row.left {
  position: relative;
  width: 100%;
  min-height: 50px;
}
#chat-body .row.left img {
  background: #fff;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 10px;
  bottom: 0px;
}
#chat-body .row.left .card-panel {
  max-width: 80%;
  position: absolute;
  left: 60px;
  vertical-align: middle;
  padding: 10px;
  display: inline;
}
#chat-body .row.right {
  position: relative;
  width: 100%;
  min-height: 50px;
}
#chat-body .row.right img {
  background: #fff;
  width: 42px;
  height: 42px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
#chat-body .row.right .card-panel {
  max-width: 80%;
  position: absolute;
  right: 60px;
  vertical-align: middle;
  padding: 10px;
  display: inline;
}

#chat-header {
  margin: 0;
  height: 100%;
  width: 60%;
  border: none;
}
#chat-header .collection-item.avatar {
  padding-right: 0;
  background: none;
  width: 100%;
}
#chat-header .collection-item.avatar img {
  background: white;
}
#chat-header .collection-item.avatar a {
  padding: 0;
}

#avatar-container {
  padding: 16px;
  height: 150px;
}

#chat-footer .footer-copyright {
  padding: 0;
  border-top: 0.5px lightgrey solid;
  background: #fff;
  color: grey;
}
#chat-footer .footer-copyright .container {
  height: 51px;
  width: 100%;
  padding: 0 5px;
  margin: 0;
}
#chat-footer .footer-copyright .container .row {
  margin-bottom: 0;
}
#chat-footer .footer-copyright .container .row .input-field {
  height: 51px;
  margin: 0;
  display: inline;
}
#chat-footer .footer-copyright .container .row .input-field.col.s2 {
  padding: 10px;
}
#chat-footer .footer-copyright .container .row .input-field.col.s2 button {
  width: 80%;
  position: absolute;
  top: 20%;
}

/*# sourceMappingURL=mystyle.css.map */
